/* normalize */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
}

body > * {
  padding: 30px;
}

header,
main {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  max-width: 1200px;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.layout-4-column > * {
  flex-basis: 25%;
}

.hole__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.hole__container:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.status {
  margin-bottom: 20px;
}

.hole {
  width: 150px;
  height: 150px;
  background: gray;
  border-radius: 50%;
  cursor: pointer;
}

.hole_has-devil {
  background-image: url("../../public/goblin.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: brown;
}

